<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hayde117.temi">

    <application
        android:name="com.hayde117.temi.DatastoreExample"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Temi">
        <activity
            android:name="com.hayde117.temi.AnimationActivity"
            android:exported="false" />
        <activity
            android:name="com.hayde117.temi.DisplayActivity"
            android:exported="false" />
        <activity
            android:name="com.hayde117.temi.DbHomeActivity"
            android:exported="false" />

        <activity
            android:name="com.hayde117.temi.HomeActivity"
            android:exported="false"
            android:label="Home" />
        <activity
            android:name="com.hayde117.temi.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>